pipeline/Silver_Load_001.json
{
	"name": "Silver_Load_001",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "select * from lookup.metadata_table where is_flatten_req = FALSE",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Snowflake_LookUp_MetaData_tbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metaData').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "SilverCopyLoad_001",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_blobStorage_imdb",
										"type": "LinkedServiceReference"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bronze_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@item().source_directory",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Snowflake_imdb_db",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().target_table_name",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().TARGET_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}